.button {
	background-color: $white;
	color: $black;
  padding: .5rem .75rem;
	border: 1px solid transparent;
	border-radius: $border-radius;

	font-size: $font-size-sm;

	&--block {
		width: 100%;
	}
  
	&.test {
		font-size: 16px;
		font-weight: 500;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		color: white;
		text-transform: uppercase;
		padding: 8px 50px;
		background: #207774;
	}
}

@each $name, $color in $theme-colors {
	.button--#{$name} { 
		background-color: $color !important; 
	}
}

.button--primary {
	color: $light;
}