.item-container {
	position: relative;

	.item__edit {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 30px;
		height: 30px;

		display: flex;
		justify-content: center;
		align-items: center;

		color: $white;
		background: $dark;
		border-radius: 50%;
		display: none;
	}
}

.item {
	position: relative;

	width: 100%;
	min-height: 90px;
	height: 100%;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	padding: 15px;
	color: white;
	overflow: hidden;
	display: flex;
	align-items: center;

	transition: scale 150ms ease-in-out;

	&:after {
		position: absolute;
		content: "";
		width: 90px;
		height: 100%;
		border-radius: 50%;
		right: -48px;
		top: 0px;
		background: rgba(255,255,255,0.1);
		box-shadow: 0 0 40px 0px rgba(0,0,0,0.2);
	}

	&__title {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		font-size: 70%;
	}

	&__icon {
		max-width: 60px;
		margin-right: $spacer;
	}

	&__link {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;

		display: flex;
		justify-content: flex-end;
		align-items: center;

		color: white;
		font-size: $font-size-lg;
		z-index: 1;
		padding-right: 10px;
	}
	
	&__details {
		width: 100%;
	}
}

.item__add {
	display: none;
	justify-content: center;
	align-items: center;

	border-radius: $border-radius;
	border: 2px dashed rgba(255,255,255,0.7);
	box-shadow: $box-shadow;

	background: $dark;
	overflow: hidden;
	position: relative;	
	outline: 1px solid transparent;

	&.active {
		display: flex;
	}

	a {
		display: block;
		width: 100%;
		text-align: center;
		line-height: 40px;
		color: white;
		font-size: 19px;
	}
}

.livestats-container {
	.livestats {
		list-style: none;
		display: grid;
		gap: 8px;
		grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

		margin: 5px 0px 0px;
		padding: 0;

		font-size: 70%;


		span {
			text-transform: uppercase;
			font-weight: 500;
			opacity: 0.5;
		}

		strong {
			display: block;
			color: white;

			span {
				margin-left: 4px;
			}
		}

		li {
			line-height: 1;
			&.right {
				text-align: right;
				span {
					justify-content: flex-end;
				}
			}	
		}

		&.flexcolumn {
			flex-direction: column;
		}
	}

	&.black {
		.livestats {
			strong {
				color: #000;
			}
		}
	}
}