@font-face {
  font-family: "Heebo";
  src: local("Heebo"), local("Heebo"),
    url("../fonts/Heebo-Variable.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: $body-bg;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	font-family: $font-family-base;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: $body-text;
}

.spacer {
	flex-grow: 1;
}

#app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url('../img/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;

	.content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		
		.appheader {
			background: rgba(0,0,0, 0.4);
			text-align: center;
			position:absolute;
			height: 58px;
			width: 100%;
			top: -58px;
			transition: all .35s ease-in-out;
			z-index: 1;
			ul {
				display: inline-block;
				list-style: none;
				height: 58px;
				border-left: 1px solid rgba(0,0,0,0.6);
				border-right: 1px solid rgba(255,255,255,0.1);
				margin: 0;
				padding: 0;
			}
			li {
				display: inline-block;
				border-right: 1px solid rgba(0,0,0,0.6);
				border-left: 1px solid rgba(255,255,255,0.1);

			}
			a {
				display: inline-block;
				color: white;
				text-decoration: none;
				padding: 20px;
			}
		}

	}

	main, #sortable {
		display: grid;
		gap: $spacer;
		align-items: stretch;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-auto-rows: 1fr;
	}
}

.userlist {
	display: flex;
	justify-content: center;
	align-items: center;
	.user {
		display: flex;
		padding: 15px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		& + .user {
			margin-left: $spacer;
		}

		color: $white;
		text-decoration: none;

	}
	.user-img {
		width: 100px;
		height: 100px;
		margin-bottom: 20px;
		border-radius: 50%;

		box-shadow: $box-shadow;
	}

	.btn {
		width: 100%;
	}

	.forgot {
		color: white;
		font-size: 12px;
		margin-top: 25px;
	}
}

#app {
	&.header {
		.item {
			transform: scale(0.9);
			opacity: 0.8;
		}
		.item__add {
			transform: scale(0.9);
		}
	}
	&.sidebar {
		nav {
			left: 0;
		}
	}
}

.homesearch {
	height: 51px;
}

div.create {
	padding: 30px 15px;
	display: flex;
	flex-wrap: wrap;
}

.trashed {
	font-size: 11px;
	color: #91a1b3;
	margin-left: 20px;
}

@-webkit-keyframes autofill {
	to {
		background:#f5f5f5;
		color:$body-text;
		font-weight: bold;
	}
}

@keyframes autofill {
	to {
		background:#f5f5f5;
		color:$body-text;
		font-weight: bold;
	}
}

button.link {
	border: none;
	appearance: none;
	background: transparent;
}

a.settinglink {
	color: $body-text;
	font-size: 13px;
	margin: 15px 5px;
	display: inline-block;
	font-weight: 700;
}

.setting-view-image {
	margin-bottom: 20px;
	display: inline-block;
	img {
		max-width: 330px;
	}
}

.searchform {
	display: flex;
	align-self: flex-start;
	text-align: center;
	margin: 0 auto 50px;
	width: 100%;
	max-width: 620px;
	box-shadow: $box-shadow;
	overflow: hidden;

	form { 
		width: 100%;
	}

	.input-container {
		background: white;
		border-radius: 5px;
		overflow: hidden;	
		position: relative;	  
		display: flex;
	}

	button {
		color: white;
		text-transform: uppercase;
		background: $primary;
	}

	select {
		padding: 0 10px;
		background: #f5f5f5;
		border: none;
		border-right: 1px solid #ddd;
	}
}

.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	min-width: 160px;   
	padding: 4px 0;
	margin: 0 0 10px 25px;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}

.ui-menu-item {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
	text-decoration: none;
}

.ui-state-hover, .ui-state-active {
	font-weight: 700;
}

#appimage {
	img {
		max-width: 95px;
	}
}

#sapconfig, .newblock {
	display: none;
	width: 100%;
	h2 {
		background: #f2f3f6;
		padding: 2px 25px;
		height: 60px;
		margin-left: -15px;
		width: calc(100% + 30px);
		/* margin-right: -30px; */
		border-top: 1px solid #dbdce3;
		border-bottom: 1px solid #dbdce3;
		font-size: 18px;
		color: #5b5b5b;
		font-weight: 500;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.items {
		display: flex;
	}
}

hr {
	margin: 23px 0 18px;
	height: 0;
	border-style: none;
	border-width: 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #fff;
}

.upload-button-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}
  
.upload-button-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.icon-container {
	display: flex;
	align-items: center;
	img {
		margin-right: 15px;
	}
}

.ui-helper-hidden-accessible {
	display: none;
}

